# Python virtual environment
venv/
.venv/
env/
.env

# Compiled / packaged
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.spec

# Logs and user configs
logs/
config/games_config_merged.json
config/discord_apps_cache.json

# PyCharm / VSCode settings
.idea/
.vscode/

# System / OS files
.DS_Store
Thumbs.db
